{{#each list}}
  <div class="col s12 list-style">
    <div class="col s1 center-align">
      <i class="fa fa-4x fa-{{this.icon}}" aria-hidden="true"></i>
    </div>

    <div class="col s3">
       <h4 class="list"><b>{{this.title}}</b></h4>
    </div>

    <div class="col s4 center-align">
      <h4 class="list">{{this.description}}</h4>
    </div>

    <div class="col s4 center-align">
    <h4 class="list">{{this.type}}</h4>
    </div>
  </div>
{{/each}}