/*All*/
body{
  display: flex;
  min-height:100vh;
  flex-direction: column;
}

main{
  flex: 1 0 auto;
}

h1{
  font-size: 60px;
}
h2{
  font-size: 36px;
}
h3{
  font-size: 33px;
}
h4{
  font-size: 18px;
}
h5{
  font-size: 17px;
}
h6{
  font-size: 16px;
}

/*Navbar*/
nav{
  background-color: #4bb1b7;
  margin-top: 0;
  height: 553px;
  width: 100%;
}

.title{
  margin-top: 150px;
}

h2{
  margin-top: 40px;
  font-weight: lighter;
}

.col.s3.left{
  margin: 40px 20px; 
  width: 300px;
}

#circle{
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background: white;
}

.material-icons{
  font-size: 75px;
}

/*Content*/

.gray-block{
  background-color: #d0d0d0;
  height: 418px;
  color: black;
}

.quote{
  margin: 50px;
}

.smalltitle{
  font-weight: lighter;
  color: black;
  padding-bottom: 20px;
  position: relative;
  display: inline-block;
}
.smalltitle:before{
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  bottom: 0;
  left: 10%;
  border-bottom: 2px solid #4bb1b7;
}

img{
  object-fit: cover;
}

.container{
  text-align: center;
  padding: 80px 40px;
}

div.col.s12.clear{
  padding: 0px;
  margin: 0px;
  height: 400px;
}

.banner1{
  height: 400px;
  width: 100%;
}

.banner2{
  height: 360px;
  width: 100%;
}

.row, div.row.gray-block, img, div.row{
  margin: 0;
}

/*Footer*/
body footer{
  color:white;
}

footer img{
  margin-top: 60px;
}

footer.page-footer{
  background-color: #2b2b2b;
  height: 1550px;
  margin-top: 0;
}

.row.info{
  border-top: 2px solid #c6c8c8;
  padding: 20px 0px 120px;
  margin-top: 140px;
}

.row{
  margin-bottom: 125px;
}

footer h2{
  margin: 0;
  width: 100%;
}

footer img{
  width: 800px;
}

/*List & Categories*/
.fa{
  color: #4bb1b7;
  margin: 10px;
}

.category-title{
  padding-bottom: 40px;
  position: relative;
  display: inline-block;
}
.category-title:before{
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  bottom: 0;
  left: 10%;
  border-bottom: 2px solid #4bb1b7;
}

div.col.s4.center{
  height: 400px;
  width: 300px;
  margin-left: 25px;
  margin-right: 25px;
}

.category-container{
  padding: 70px 175px;
}

div.col.s12.list-style{
  margin-bottom: 40px;
}

h4.list{
  margin-top: 30px;
}
