{{!-- Dropdown Menu --}}
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Categories</a></li>
  <li><a href="#!">List</a></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <div class="row">
      <div class="col s3 left">
        <a href="/"><div id="circle"></div></a>
      </div>
      <div class="col s6 center-align">
         <div class="title">
          <h1><b>MAIN TITLE</b></h1>
         </div>
         <h2>Lorem ipsum dolor sit amet, eu est summo scripserit. Mei cu quod vol uptua</h2>
      </div>
        <ul class="hide-on-med-and-down right">
          <li><h3><b>MENU</b></h3></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">reorder</i></a></li>
        </ul>
    </div>
  </div>
</nav>

